{% extends 'base.html' %}


{% block content %}
 <h1>edit</h1>
 <a href="{% url 'movies:index' %}">수정</a>
 <form action="{% url "movies:create" %}" method="POST">
  {% csrf_token %}
  <label for='title'>제목 : </label>
    <input type='text'name = 'title' value="{{ movie.title }}">
    <br>
    <label for='content'>내용 : </label>
    <input type='text'name = 'content' value="{{ movie.content }}">
    </br>
    <input type='submit'>

 </form>
 <a href="{% url 'movies:index' %}">[back]</a>
 {% endblock content %}