@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

/* 스크롤을 부드럽게 설정합니다. */
html{
  scroll-behavior: smooth;
}

/* 기본 글꼴 설정 */

.nav-style {
  /* 3-1. nav에 알맞은 position을 작성하시오. */
  text-align: center;
  /* 3-2. nav를 컨텐츠 안에 꽉 채우시오.*/
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  opacity: 50%;
  text-decoration-line: none;
  /* 3-3. nav 아래쪽에 자유롭게 마진을 생성하시오. */

}

.fix-style{
  position:fixed;
  background-color: white;
  opacity: 60%;
  text-decoration-line: none;
}


.login{
  border : 1px solid black
}



.container{
  border : 1px solid black;
  width : 400px;
  height: 200px;
}









body {
  /* 1. body 전체에 알맞은 position을 작성하시오. */
  

  /* 아래는 자유롭게 수정하시오. */
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  
}

.header-style {
  /* 2-1. header에 알맞은 position을 작성하시오. */
  padding:10px
  /* 2-2. header안의 컨텐츠들을 중앙정렬하시오. */

}

.nav-style {
  /* 3-1. nav에 알맞은 position을 작성하시오. */
  text-align: center;
  /* 3-2. nav를 컨텐츠 안에 꽉 채우시오.*/
  width: 100%;
  height: 100%;
  /* 3-3. nav 아래쪽에 자유롭게 마진을 생성하시오. */

}

.section-style {
  /* 4-1. section에 알맞은 position을 작성하시오. */

  /* 4-2. section과 aside가 나란히 올 수 있도록 변경하시오. */

  /* 4-3. section 내부의 컨텐츠가 상단에 위치할 수 있도록 변경하시오. */

  /* 아래는 자유롭게 수정하시오. */
  text-align: left;
  width: 35%; 
  margin-left: 15%;
  float:left;
}

.article-style {
  /* 5. article에 알맞은 position을 작성하시오. */


  /* 아래는 자유롭게 수정하시오. */
  vertical-align: top;
  width: 90%;
}

.aside-style {
  /* 6-1. aside에 알맞은 position을 작성하시오. */
  
  /* 6-2. section과 article가 나란히 올 수 있도록 변경하시오. */

  /* 6-3. aside 내부의 컨텐츠가 상단에 위치할 수 있도록 변경하시오. */


  /* 아래는 자유롭게 수정하시오. */
  width: 30%;
  margin-right: 15%;
  
  float:right;
}

.footer-style {
  /* 7-1. footer에 알맞은 position을 작성하시오. */
  position:fixed;
  /* 7-2. footer가 화면 가장 아래에 있을 수 있도록 위치를 조정하시오. */
  bottom : 0;
  /* 7-3. footer안의 컨텐츠들을 중앙정렬하시오. */
  
  /* 아래는 자유롭게 수정하시오. */
  width: 90%;
}

.section-aside {
  float:left;
  margin-bottom: 4rem;
  padding:100px;
}

/* 8. nav 태그 안에 있는 a 태그의 하이퍼링크 선을 제거하시오. */
/* 9. a 태그 간의 좌우 간격이 존재하도록 마진을 생성하시오. */
nav a {
  text-decoration-line: none;


}

/* 10. 배경 색상을 white로 변경하시오.*/
/* 11. 배경 색상의 투명도를 80%로 변경하시오. */
.bg-white {
  background-color: white;
  opacity:80%
}

/* 12. 텍스트 색상을 grey로 변경하시오.*/
.text-grey {
    color: grey;
    
}

/* 13. 텍스트 색상을 brown으로 변경하시오.*/
.text-brown {
  color: brown;
}

/* 14. 이미지의 크기가 content에 꽉 찰 수 있도록 변경하시오.*/
.img-width {
  width:100% 
}

/* 15. 필요에 따라 자유롭게 스타일을 추가 작성하시오. */


